*.pyc
/backend/db.sqlite3
.DS_Store
.env
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json

# General
venv/
/env/
/output/
/cache/